<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prestigeww.hermes">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/hermes_appdrawer"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hermes_appdrawer"
        android:supportsRtl="true"
       >

        <!--........................LOGIN.................................-->
        <activity android:name=".Activities.LoginActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--.......................SIGN-UP..................................-->
        <activity android:name=".Activities.SIgnUpActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>

        <!--.......................CHAT-THREADFEED..................................-->
        <activity android:name=".Activities.ChatThreadFeedActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/edu.temple.hermes" />
            </intent-filter>
        </activity>

        <!--.....................CHAT-WINDOW....................................-->
        <activity android:name=".Activities.ChatWindowActivity" />

        <!--......................METATAT...................................-->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!--.....................DEFAULT-uSER....................................-->
        <activity android:name=".Activities.DefaultUserSignUp"/>
    </application>
<!--.............................................................................................-->

</manifest>